<div class="flex justify-center">
    <div data-updater class="updater">
        <div class="dialog">
            <div class="flex-grow">
                <h1>Update available</h1>
                <p data-updaterChangelog></p>
            </div>

            <a href="https://github.com/MoustafaKamel1995/O2TV-IPTV-HD#updating" target="_blank" class="btn dark">Update</a>
        </div>
    </div>
</div>